.body {
  height: 90vh;
  padding: 30px;
}

.example-full-width {
  width: 100% !important;
  // height: 100px;
}

.icon {
  height: 47px;
  width: 50px;
  border-radius: 60%;
  background-color: rgb(11, 34, 109);
  color: white;
  padding-bottom: 5px;
  font-size: 25px;
}

.icon2 {
  height: 48px;
  width: 48px;
  border-radius: 60%;
  background-color: rgb(11, 34, 109);
  color: white;
  padding-bottom: 5px;
  font-size: 25px;
  margin-right: 10px;
}

.submit {
  background-color: rgb(11, 34, 109);
  color: white;
  margin: 0 5px;
}

.cancel {
  background-color: white;
  color: black;
  border: 1px solid grey;
}

.comment {
  margin: 10px 0 0 60px;
}

.post {
  margin-bottom: 30px;
}

.reply {
  margin: 10px 0 20px 120px !important;
}